@import "src/colors.scss";

.table-title {
    p {
        cursor: pointer;
        font-size: 30px;
        background-color: $accent;
        margin-bottom: 15px;
        border-radius: 50%;
        padding: 0px 10px;
        color: #fff;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
        }
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 55vw;
    margin-bottom: 5vh;

    td,
    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
}

