@import "../../../colors.scss";
$color1: #f4f4f4;
$color2: #3197ee;

.container-signup {
    height: 100vh;

    .box-signup {
        width: 30%;
        background-color: #fff;
        padding: 4vh 5vh;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }

    .container-inputs {
        padding-bottom: 2vh;
        width: 100%;

        h3 {
            padding-bottom: 3vh;
            font-weight: 300;
        }

        label {
            font-size: 80%;
        }

        .radio {
            margin: 0.5rem;
            input[type="radio"] {
                position: absolute;
                opacity: 0;
                + .radio-label {
                    &:before {
                        content: "";
                        background: $color1;
                        border-radius: 100%;
                        border: 1px solid darken($color1, 25%);
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        position: relative;
                        top: 5px;
                        margin-right: 1em;
                        vertical-align: top;
                        cursor: pointer;
                        text-align: center;
                        transition: all 250ms ease;
                    }
                }
                &:checked {
                    + .radio-label {
                        &:before {
                            background-color: $color2;
                            box-shadow: inset 0 0 0 4px $color1;
                        }
                    }
                }
                &:focus {
                    + .radio-label {
                        &:before {
                            outline: none;
                            border-color: $color2;
                        }
                    }
                }
                &:disabled {
                    + .radio-label {
                        &:before {
                            box-shadow: inset 0 0 0 4px $color1;
                            border-color: darken($color1, 25%);
                            background: darken($color1, 25%);
                        }
                    }
                }
                + .radio-label {
                    &:empty {
                        &:before {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        input {
            padding: 1vh;
            margin: 1vh 0;
            border-radius: 5px;
            border: 1px solid $divider;
            transition: box-shadow 0.3s;

            &:hover,
            &:focus {
                box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
            }
        }

        button {
            border: none;
            color: #fff;
            background-color: $dark_primary;
            height: 4vh;
            width: 7vw;
            border-radius: 5px;
            font-size: 70%;
            transition: box-shadow 0.3s;
            cursor: pointer;
            margin-top: 2vh;

            &:hover {
                box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
            }

            &:active {
                box-shadow: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
        }
    }

    hr {
        color: $divider;
        width: 100%;
        margin: 1vh 0;
    }

    .signup-link {
        margin-top: 1vh;

        small {
            font-size: 60%;
        }

        a {
            &:link,
            &:visited {
                text-decoration: none;
                color: $primary;
                border-bottom: 1px solid transparent;
                transition: border-bottom 0.2s;
            }

            &:hover,
            &:active {
                border-bottom: 1px solid $primary;
            }
        }
    }
}
