@import "src/colors.scss";

.container-inputs {
    padding-bottom: 2vh;
    width: 100%;

    h3 {
        padding-bottom: 3vh;
        font-weight: 300;
    }

    label {
        font-size: 80%;
    }

    input {
        padding: 1vh;
        margin: 1vh 0;
        border-radius: 5px;
        border: 1px solid $divider;
        transition: box-shadow 0.3s, border-width 0.3s;

        &:hover,
        &:focus {
            box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
        }
    }

    button {
        border: none;
        color: #fff;
        background-color: $dark_primary;
        height: 4vh;
        width: 7vw;
        border-radius: 5px;
        font-size: 70%;
        transition: box-shadow 0.3s;
        cursor: pointer;
        margin-top: 2vh;

        &:hover {
            box-shadow: 2px 4px 6px 0 rgba(140, 140, 140, 0.5);
        }

        &:active {
            box-shadow: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    }
}
